{% extends 'base.html' %}

{% block titulo %}Aposta{% endblock %}
{% block nome %}Apostar em evento{% endblock %}

{% block conteudo %}
<form method="POST">
    <h3>{{ evento[0] }}</h3>
    <p>{{ evento[1] }}</p>
    <p>Valor mínimo da cota: R$ {{ evento[2] }}</p>
    
    <div>
        <input type="radio" name="resultado" value="Acontecerá" id="acontecera" required>
        <label for="acontecera">
            Acontecerá
        </label>
    </div>
    
    <div>
        <input type="radio" name="resultado" value="Não acontecerá" id="nao_acontecera" required>
        <label for="nao_acontecera">
            Não acontecerá
        </label>
    </div>
    
    <div>
        <label for="valor">Valor da aposta:</label>
        <input type="number" id="valor" name="valor_aposta" step="0.01" min="{{ evento[2] }}" required>
    </div>
    
    <button type="submit">Confirmar Aposta</button>
</form>
{% endblock %}