<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home.index') }}">Home</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.cadastro') }}">Cadastro</a>
        <a href="{{ url_for('carteira.paginacarteira') }}">Carteira</a>
    </div>
    {% block conteudo %}{% endblock %}
</body>
</html>