{% extends 'base.html' %}

{% block titulo %}Carteira{% endblock %}
{% block nome %}Carteira{% endblock %}

{% block conteudo %}
<h3>Saldo: {{ "%.2f"|format(saldo) }}</h3>
<div class="carteira-actions">
    <a href="{{ url_for('carteira.compra') }}" class="btn-action">Adicionar créditos</a>
    <a href="{{ url_for('carteira.sacar_saldo') }}" class="btn-action">Sacar saldo</a>
</div>

<h3>Histórico de Compra de Créditos</h3>
<div class="historico-creditos-container">
    <table>
        <thead>
            <tr>
                <th>Valor</th>
                <th>Meio de Pagamento</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>R$ {{ "%.2f"|format(transacao[0]) }}</td>
                <td>{{ transacao[1] }}</td>
                <td>{{ transacao[2].strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3>Histórico de Apostas</h3>
<div class="tabela-apostas">
    <table>
        <thead>
            <tr>
                <th>Valor da Aposta</th>
                <th>Evento</th>
                <th>Resultado Esperado</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for aposta in apostas %}
            <tr>
                <td>R$ {{ "%.2f"|format(aposta[0]) }}</td>
                <td>{{ aposta[1] }}</td>
                <td>{{ aposta[2] }}</td>
                <td>{{ aposta[3].strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}