{% extends 'base.html' %}

{% block titulo %}Crédito inicial{% endblock %}
{% block nome %}Crédito inicial{% endblock %}

{% block conteudo %}
<div class="form-container">
    <form method="POST" action="{{ url_for('auth.credito_inicial') }}" class="auth-form">
        <div class="form-group">
            <label>Deseja fazer um depósito inicial?</label>
            
            <div class="radio-options">
                <div class="radio-option">
                    <input type="radio" id="nao" name="deposito_inicial" value="nao">
                    <label for="nao">Não</label>
                </div>

                <div class="radio-option">
                    <input type="radio" id="sim" name="deposito_inicial" value="sim">
                    <label for="sim">Sim</label>
                </div>
            </div>
        </div>

        <button type="submit" class="form-submit">Confirmar</button>
    </form>
</div>
{% endblock %}