{% extends 'base.html' %}

{% block titulo %}Home{% endblock %}
{% block nome %}Home{% endblock %}

{% block conteudo %}
<div class="form-container">
    <h1 style="text-align: center; margin-bottom: 30px;">Bem-vindo ao site de apostas!</h1>
    <h3 style="text-align: center; margin-bottom: 30px;">Faça login ou cadastre-se para acessar o site:</h3>
    
    <div class="action-buttons" style="justify-content: center;">
        <a href="{{ url_for('auth.login') }}" class="btn-action">Login</a>
        <a href="{{ url_for('auth.cadastro') }}" class="btn-action">Cadastro</a>
    </div>
</div>
{% endblock %}