{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}
{% block nome %}Login{% endblock %}

{% block conteudo %}
<div class="form-container">
    <form method="POST" class="auth-form">
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>

        <button type="submit" class="form-submit" value="login">Fazer Login</button>
        
        <div class="form-group" style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('auth.cadastro') }}" class="btn-action">Criar conta</a>
        </div>
    </form>
</div>
{% endblock %}