{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}
{% block nome %}Login{% endblock %}

{% block conteudo %}
<div>
    <form method="POST">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>

        <div>
            <button type="submit" value="login">Fazer Login</button>
            <a href="{{ url_for('auth.cadastro') }}">Criar conta</a>
        </div>
    </form>
</div>
{% endblock %}