{% extends 'base.html' %}

{% block titulo %}Sacar saldo{% endblock %}
{% block nome %}Sacar saldo{% endblock %}

{% block conteudo %}
<form method="POST">
    <input type="radio" id="conta_bancaria" name="resposta" value="conta_bancaria" required onclick="mostrarCampo('conta')">
    <label for="conta_bancaria">Conta bancária</label>
    
    <input type="radio" id="pix" name="resposta" value="pix" onclick="mostrarCampo('pix')">
    <label for="pix">PIX</label>

    <div id="campo_conta" style="display: none;">
        <label for="banco">Banco:</label>
        <input type="text" id="banco" name="banco">
        
        <label for="conta">Número da conta corrente:</label>
        <input type="text" id="conta" name="conta">
    </div>

    <div id="campo_pix" style="display: none;">
        <label for="chave_pix">Chave PIX:</label>
        <input type="text" id="chave_pix" name="chave_pix">
    </div>
    
    <br><br>
    
    <label for="valor">Valor a sacar:</label>
    <input type="number" id="valor" name="valor" min="0" step="0.01" required>
    <button type="submit">Sacar</button>
</form>

<script>
function mostrarCampo(tipo) {
    document.getElementById('campo_conta').style.display = 'none';
    document.getElementById('campo_pix').style.display = 'none';
    
    if (tipo === 'conta') {
        document.getElementById('campo_conta').style.display = 'block';
    } else if (tipo === 'pix') {
        document.getElementById('campo_pix').style.display = 'block';
    }
}
</script>
{% endblock %}