@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap');

body{
    background-color: #8a3ea6;
    font-family: 'Inter', sans-serif;
}

.navbar a{
    color: white;
}

.nome{
    color: white;
    text-align: center;
}
